<h1>MenuItems#index</h1>
<p>Find me in app/views/menu_items/index.html.erb</p>


<% @menu.each do |m| %>

<div class="menu_item_div1">


      <p class = "name"><%= m.name %></p>
      <p><%= m.description %></p>
      <p><%= m.id %></p>
      <p><%= m.restaurant_id %></p>
</div>

<% end %>
