<h1>MenuItems#show</h1>
<p>Find me in app/views/menu_items/show.html.erb</p>

<div class="show_div">

<p class ="show_par1"><%= @menu.name %></p>
<p class ="show_par2"><%= @menu.description %></p>
<p class ="show_par3"><%= @menu.id %></p>
<p class ="show_par4"><%= @menu.restaurant_id %></p>
</div>
