<h1>Search for your favorite restaurant here</h1>
<p><strong> Fill the form below to choose your favorite restaurant</strong></p>


  <%= render 'form', restaurant: @restaurant %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
