<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="body1">
    <!-- <img src="https://media.timeout.com/images/101841243/image.jpg"> -->
<!-- Simple descripion of what we are and what we do -->
<h1 class="h1">restauraTour</h1>
            <p class="par1">restauraTour is an american based business owned by Three partners Kostas, Chuks and Benjamin, it is geared toward strengthening the unity of families by providing them with apportunities to meet and have quality time at a lower cost, we help you find the best restaurant and with the most comfortable environment and above all we work hard to find restaurant at a good cost at the time that you want to spend quality time with your family.
            </p>
            <!-- The contact information list -->
  <div class="classlist">
  <h1 class="h2">Contact US</h1>
      <ul class="list1">
      <li><strong>Chuks:</strong></li>
      <br>
      <li><strong>Kostas:</strong></li>
      <br>
      <li><strong>Benjamin:</strong>wabrigitte08@icloud.com</li>
      <br>
    </ul>
    </div>
    <img class="image1" src="http://www.thetoc.gr/images/articles/2/article_71605/upl5562d607c97d4.jpg">
  </body>
</html>
