<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="body1">

<!-- Simple descripion of what we are and what we do -->
<h1 class="h1">About Us</h1>
            <p class="par1">
              restauraTour is an american based business owned by Three partners Kostas, Chuks and Benjamin, it is geared toward strengthening the unity of families by providing them with apportunities to meet and have quality time at a lower cost, we help you find the best restaurant and with the most comfortable environment and above all we work hard to find restaurants at the most convient time for you.
            </p>
            <!-- The contact information list -->
  <div class="classlist">
  <h1 class="h2">Contact US</h1>
      <ul class="list1">
      <li><strong>Chuks:</strong> chukwu.onumaeme@gmail.com</li>
      <br>
      <li><strong>Kostas:</strong> kdelimbeis@comcast.net</li>
      <br>
      <li><strong>Benjamin:</strong> wabrigitte08@icloud.com</li>
      <br>
    </ul>
    </div>
    <img class="image1" src="http://www.thetoc.gr/images/articles/2/article_71605/upl5562d607c97d4.jpg">
    <p>One of our favourite spots</p>
  </body>
</html>
